body {
    margin: 0;
    padding: 0;
    background: #333;
    color: #aaa;
}

#container {
    float: left;
    border: 1px solid #808080;
    position: relative;
    width: 800px;
    height: 600px;
}

.panel {
    width: 800px;
    display: block;
    height: 38px;
    text-align: left;
    padding: 4px;
    margin: 0;
}

.panel-title {
    clear: left;
    font-family: monospace;
    padding: 8px 0 2px 0;
    width: 800px;
}

td {
    /*width: 800px;*/
}

input {
    /*display: inline-block;*/
    float: left;
    height: 32px;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    background: #333;
}

label {
    font-family: sans-serif;
    font-size: 8pt;
    float: left;
    color: #aaa;
}

button, input[type=button], input[type=color], input[type=range] {
    float: left;
    width: 80px;
    height: 20px;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    box-shadow: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background: #333;
    color: #aaa;
}

button:focus {
    outline: 0;
}

button:active {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #ccc;
}

button[value=true] {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #ccc;
}

#container {
    display: block;
    float: none;
}

select {
    background: #333;
}