* {
    touch-action: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

#constructor-ui {
    height: auto;
}

.spacer, .divider {
    display: flex;
    flex: auto;
    width: auto;
    height: auto;
    /*min-height: 1px;*/
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
}

.h-divider {
    border-left: 1px solid #aaa;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

.v-divider {
    border-top: 1px solid #aaa;
    text-align: center;
    width: 8px;
}

.bold {
    font-weight: bold !important;
}

.control {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    font-family: sans-serif;
    letter-spacing: 0.05em;
    font-weight: lighter;
    box-sizing: content-box;
}

.control.row {
    width: 100%;
    margin: 0;
}

.vertical {
    flex-flow: column;
    width: 100%;
}

.control.row > .control {
    margin: 8px;
}

/*.control.row .control {*/
/*    margin-left: 8px;*/
/*    margin-right: 8px;*/
/*}*/

/*.control.row .button .label {*/
/*    color: #2071eb;*/
/*}*/

.control.label {
    color: #cccccc;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.constructor-ui-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 250px 1fr;
    grid-template-rows: auto 1fr 48px;
    gap: 0;
    grid-template-areas:
            "sidebar sidepanel topbar"
            "sidebar sidepanel constructor"
            "sidebar sidepanel bottombar";
}

.constructor-ui-container.collapsed {
    grid-template-columns: auto 0 1fr;
    grid-template-areas:
            "sidebar topbar topbar"
            "constructor constructor constructor"
            "bottombar bottombar bottombar";
}

.constructor-ui-container.collapsed .sidebar {
    display: none;
}

.constructor-ui-container.collapsed .sidebar {
    background: none;
}

.control.sidebar {
    background: #222;
    grid-area: sidebar;
    text-align: center;
    padding: 0;
}

.control.sidebar .control.button {
    font-size: 20px;
    padding: 12px;
    margin: 0;
    transition: .4s
}

.control.toolbar.top {
    background: #eee;
    grid-area: topbar;
    text-align: center;
    vertical-align: middle;
}

.toolbar.top .button, .toolbar.bottom .button, .constructor-ui-container.collapsed .sidebar .button {
    color: #333;
}

.control.sidepanel {
    background: #444;
    grid-area: sidepanel;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: manipulation;
}

.control.sidepanel * {
    touch-action: manipulation !important;
}

.control.toolbar.bottom {
    background: #eee;
    grid-area: bottombar;
}

.constructor-container {
    grid-area: constructor;
    background: #eee;
}

.canvas-container {
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .4s;
}

.lower-canvas {
    border: none !important;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
    background: white;
    transition: .4s;
}

.control.layer {
    margin: 1px 1px 0 1px;
    /*margin-top: 1px;*/
    background: #777;
    /*border-radius: 4px;*/
    height: 50px;
    width: auto;
    transition: .2s;
    /*touch-action: auto;*/
}

.control.layer .icon {
    width: 8px;
}

.control.layer object {
    padding: 6px;
    /*width: 25%;*/
    /*height: 25%;*/
    width: 38px;
    /*height: 38px;*/
    box-sizing: content-box;
}

.control.layer .touch-destination {
    display: none;
}

.control.layer.touch .touch-destination {
    display: block;
    opacity: 1 !important;
}

.control.layer .type {
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    color: #555;
}

.control.layer.selected {
    background: #999;
}

.control.popover {
    width: 100vw;
    max-width: 100vw !important;
    min-width: 100vw !important;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    text-align: center;
    transition: .5s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    border: none !important;
    border-radius: 0 !important;
    overflow: hidden;
}

.control.popover > .control {
    width: 300px;
    height: fit-content;
    margin: auto;
    background: #555 !important;
    border-radius: 2px;
    padding: 16px;
    transition: .5s;
    transition-property: bottom;
    transition-timing-function: ease-out;
}

.control.popover .button {
    font-weight: bold;
    font-size: 18px;
}

.control.button .label {
    color: #00b0e8 !important;
}

.control.popover > .control > .control.row {
    margin: 4px;
}

.layer .icon-frame {
    background-color: white;
    background-image: linear-gradient(45deg, #cccccc 25%, transparent 25%), linear-gradient(-45deg, #cccccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cccccc 75%), linear-gradient(-45deg, transparent 75%, #cccccc 75%);
    background-size: 4px 4px;
    background-position: 0 0, 0 2px, 2px -2px, -2px 0;
    width: 50px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    box-sizing: content-box !important;
}

.control.layer.drag-over {
    background: #333 !important;
}

.layer.source * {
    opacity: 0.6 !important;
}

.layer.touch .grip > div, .layer.source .grip > div {
    display: none;
    /*background: #999 !important;*/
}

/*.layer.source img, .layer.source .button {*/
/*    display: none;*/
/*}*/

.control.layer.touch .button {
    /*display: none;*/
}

.control.layer.touch .icon-frame {
    /*display: none;*/
}

.fa {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.control.layer.touch .icon-frame {
    opacity: 1;
    background: #777;
    transition: .2s;
}

.constructor-toolbar-control {
    float: left;
    width: 100%;
    padding: 2px;
}

.control.button {
    /*width: 16px;*/
    padding: 4px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #ddd;
}

.control.grip {
    vertical-align: middle;
    height: 40%;
    padding: 12px;
    width: 12px;
}

.control.grip > div {
    background: repeating-linear-gradient(0deg, #aaa, #aaa 1px, transparent 1px, transparent 3px);
    width: 8px;
    height: 100%;
    margin: auto 0;
}

.touch .grip * {
    color: #fff;
}

.control.layer .icon .fa {
    margin: auto 0 auto 0;
    vertical-align: middle;
    padding: 0;
    color: #ddd;
}

.sidepanel > .control {
    display: block;
}

.sidepanel .options-panel .control.button.toggle.active {
    background: #222;
    border-radius: 2px;
}

.sidepanel .options-panel .control.button.toggle.active .fa {
    color: unset;
}

.sidepanel .options-panel .control.button.toggle.active .label {
    color: #fff;
}

.sidepanel .options-panel .control.button.toggle.active .icon {
        
}

.models-panel {
    flex-flow: wrap;
    text-align: justify;
}

/*.models-panel .image {*/
/*    width: 30%;*/
/*    height: auto;*/
/*    padding: 8px;*/
/*}*/

.control.button.font-family {
    /*padding: 0;*/
    font-size: 20px;
    padding: 0 !important;
}

.control.button.font-family.selected {
    background: #000;
    color: #fff;
    border-radius: 4px;
}

.control.button:hover, .control.button:hover * {
    color: #fff;
    cursor: pointer;
}

.control.button.active {
    color: #fff;
}

.control.button.toggle {
    color: #777;
}

.control.button.toggle.active {
    color: #fff;
}

.control.button.selected {
    color: #fff;
    background: #444;
}

.control.button .label {
    margin-left: 8px;
}

.selection-panel .button .label {
    text-align: right !important;
}

.control.input {
    width: 100px;
}

.control.select {
    /*padding-right: 50px;*/
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
    display: block;
}

.pager {
    position: absolute;
}

.toolbar.top .button:hover *, .toolbar.bottom .button:hover * {
    color: #aaa;
}

.toolbar.top .toggle.active, .toolbar.bottom .toggle.active, .control.button.toggle.active .label {
    color: #000;
}

.toolbar.top .toggle.active *:hover, .toolbar.bottom .toggle.active *:hover {
    color: #000 !important;
}

.button.font-family .label {
    /*height: 24px;*/
}

.mobile-portrait, .mobile {
    display: none;
}

.disabled, .disabled * {
    opacity: 0.5;
    cursor: default !important;
    color: #777 !important;
    transition: .4s;
}

.disabled:hover, .disabled:hover * {
    color: #777 !important;
}

@media (max-height: 600px) and (orientation: landscape) {
    .constructor-ui-container {
        height: 100vh;
        display: grid;
        grid-template-columns: auto 250px auto 1fr auto;
        grid-template-rows: 1fr;
        gap: 0;
        grid-template-areas:
            "sidebar sidepanel bottombar constructor topbar";
    }

    .constructor-ui-container.collapsed {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
            "bottombar constructor topbar";
    }

    .toolbar {
        flex-flow: column;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block
    }

}

.control.layers, .control.layers-panel {
    width: 100%;
}

@media (max-width: 1000px) and (orientation: portrait) {
    .constructor-ui-container {
        height: 100vh;
        display: grid;
        grid-template-columns: 42px 1fr;
        grid-template-rows: auto 1fr auto 309px;
        gap: 0;
        grid-template-areas:
            "topbar topbar"
            "constructor constructor"
            "bottombar bottombar"
            "sidebar sidepanel";
    }

    .constructor-ui-container.collapsed {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 84px;
        grid-template-areas:
            "topbar"
            "constructor"
            "bottombar";
    }

    .control.layer {
        width: auto;
        /*margin: 2px 2px 0 2px;*/
        background: #777;
        /*border-radius: 4px;*/
    }

    .desktop-only {
        display: none;
    }

    .mobile, .mobile-portrait {
        display: inherit;
    }

    .control.popover .label {
        font-size: 18px;
    }

    .control.popover .row {
        width: auto;
    }

    .control.popover .row .control {
        margin: 4px;
    }

    .control.popover .input {
        max-width: 32px;
    }

    .control.popover > .control {
        position: absolute;
        width: 100vw;
        bottom: 0;
        margin-bottom: 0;
        border-radius: 16px 16px 0 0;
        padding: 0 0 32px 0;
    }

    /*.control.button {*/
    /*    font-size: 60px !important;*/
    /*    padding: 30px !important;;*/
    /*    margin: 0;*/
    /*}*/
    /*.control.layer div {*/
    /*    padding: 20px;*/
    /*    font-size: 50px;*/
    /*}*/


}

