* {
    touch-action: none;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

#constructor-ui {
    height: auto;
}

.spacer {
    display: flex;
    flex: auto;
    width: auto;
    height: auto;
}

.control {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    font-family: sans-serif;
}

.row {
    width: 100%;
}

.column {
    //display: inline;
}

.vertical {
    flex-flow: column;
    width: 100%;
}

.row>.control {
    margin: 8px;
}

.row .control {
    margin-left: 8px;
    margin-right: 8px;
}

.label {
    color: #cccccc;
    letter-spacing: 0.05em;
    font-weight: lighter;
}

.constructor-ui-container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 250px 1fr;
    grid-template-rows: auto 1fr 48px;
    gap: 0;
    grid-template-areas:
            "sidebar sidepanel topbar"
            "sidebar sidepanel constructor"
            "sidebar sidepanel bottombar";
}

.constructor-ui-container.collapsed {
    grid-template-columns: auto 0 1fr;
    grid-template-areas:
            "sidebar topbar topbar"
            "constructor constructor constructor"
            "bottombar bottombar bottombar";
}

.constructor-ui-container.collapsed .sidebar {
    background: none;
}

.control.sidebar {
    background: #222;
    grid-area: sidebar;
    text-align: center;
    padding: 0;
}

.control.sidebar .control.button {
    font-size: 20px;
    padding: 12px;
    margin: 0;
}

.control.toolbar.top {
    background: #eee;
    grid-area: topbar;
    text-align: center;
    vertical-align: middle;
}

.control.toolbar.top .button, .control.toolbar.bottom .button, .constructor-ui-container.collapsed .sidebar .button {
    color: #333;
}

.control.sidepanel {
    background: #444;
    grid-area: sidepanel;
    overflow: auto;
}

.control.toolbar.bottom {
    background: #eee;
    grid-area: bottombar;
}

.constructor-container {
    grid-area: constructor;
    background: #eee;
}

.canvas-container {
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.lower-canvas {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
    background: white;
}

.control.layer {
    margin: 2px 2px 0 2px;
    background: #777;
    border-radius: 4px;
    height: 50px;
    width: 246px;
}

.control.layer div {
    padding: 8px;
    font-size: 14px;
}

.control.layer.selected {
    background: #999;
}

.constructor-layer-control-icon-frame {
    border: 1px solid #aaa;
    margin: 4px;

    background-color: white;
    background-image: linear-gradient(45deg, #dddddd 25%, transparent 25%), linear-gradient(-45deg, #dddddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #dddddd 75%), linear-gradient(-45deg, transparent 75%, #dddddd 75%);
    background-size: 10px 10px;
    background-position: 0 0, 0 5px, 5px -5px, -5px 0;

}

.control.layer.drag-over {
    background: #333 !important;
}

.constructor-toolbar-control {
    float: left;
    width: 100%;
    padding: 2px;
}

.control.button {
    /*width: 16px;*/
    padding: 4px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #ddd;
}

.control.button:hover {
    color: #fff;
    cursor: pointer;
}

.control.button.active {
    color: #aaa;
}

.control.button.selected {
    color: #fff;
    background: #666;
}


input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
    display: block;
}

@media (max-width: 1000px) {
    .button.fullscreen {
        visibility: hidden;
    }
}
@media (min-width: 320px) and (orientation:portrait) {
    .constructor-ui-container {
        height: 87vh;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto max-content 1fr 1fr;
        gap: 0;
        grid-template-areas:
            "bottombar bottombar"
            "topbar topbar"
            "constructor constructor"
            "sidebar sidepanel";
    }

    .constructor-ui-container.collapsed {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "bottombar"
            "topbar"
            "constructor";
    }

    .control.layers, .control.layers-panel  {
        width: 100%;
    }

    .control.layer {
        width: auto;
        margin: 2px 2px 0 2px;
        background: #777;
        border-radius: 4px;
    }



    /*.control.button {*/
    /*    font-size: 60px !important;*/
    /*    padding: 30px !important;;*/
    /*    margin: 0;*/
    /*}*/

    /*.control.layer div {*/
    /*    padding: 20px;*/
    /*    font-size: 50px;*/
    /*}*/


}

